parameters:
    level: 9
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    treatPhpDocTypesAsCertain: false
    phpVersion: 80300
    parallel:
        jobSize: 5
        maximumNumberOfProcesses: 12
        minimumNumberOfJobsPerProcess: 2
    paths:
        - src/
        - tests/
    excludePaths:
        - src/HttpClient/HttpClientDecorator.php
        - src/GuzzleHttp/RequestIdGuzzleDecorator.php

includes:
    - phpstan-baseline.neon
