parameters:
    level: 10
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    treatPhpDocTypesAsCertain: false
    phpVersion: 80400
    paths:
        - src/
        - tests/

includes:
    - phpstan-baseline.neon
